:root {
    --primary-color:12FFB8;
    --text-color: 00FDE9;
    --accent-color: FFFFFF;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    text-align: center;
}
.section__text{
    text-align: left;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-right: 50px;
    
}
.hero{
    margin-bottom: 50px;
}
.title__logo{
    color: white;
}
.title__hero{
    color: #12FFB8;
    font-family:  "Montserrat Bold", sans-serif;
    font-size: 70px;
    top: 70px; 
    left: 325px; 
}

.title__info{
    font-family:  "Montserrat Semi-Bold", sans-serif;
    font-size: 40px;
    
}
.section{
    position: absolute;
    top:140vh;
    left:0;
    width: 100%;
    height: 100vh;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button__item{
    color: #FFFFFF;
    font-size: 20px;
}
.list__button{
    display: flex;
    gap: 20px;
    margin-left: 100px;
}
.part{
    margin-bottom: 400px;
}
